ALTER TABLE participants ADD COLUMN is_following BOOLEAN DEFAULT FALSE, ADD COLUMN has_commented BOOLEAN DEFAULT FALSE, ADD COLUMN has_shared BOOLEAN DEFAULT FALSE; ALTER TABLE participants ADD CONSTRAINT instagram_rules_check CHECK (is_following = TRUE AND has_commented = TRUE AND has_shared = TRUE);
